.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(70deg, #fff4ae 0%, #ffcdd7 50%, #ffb2f4 100%);
}

.message {
    font-size: 50px; 
    color: #333;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ff00aa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}
