body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.demo-logo-vertical {
    margin: 16px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar {
    width: 80px;
    height: 100%;
    background: rgb(255, 244, 174);
    background: linear-gradient(180deg, rgba(255, 244, 174, 1) 0%, rgba(216, 190, 237, 1) 55%, rgba(255, 139, 236, 1) 100%);
    color: #fff;
    padding-top: 20px;
    border-radius: 0% 0% 130px 0%;
    transition: width 0.4s ease;
}

.nav-text {
    font-size: 14px;
}

#navbar p {
    width: auto;
    height: auto;
    word-wrap: break-word;
}

#navbar .navbar-item {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    overflow: hidden;
}

#navbar:hover .navbar-item {
    opacity: 1;

}

.navbar-link {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    color: #848485;
    text-decoration: none;
    font-size: large;
}

.navbar-logo img {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.navbar-link:hover {
    background-color: white;
}

.content {
    margin-left: 200px;
    padding: 20px;
}

hr {
    width: 80%;
    border: 1px solid black;
}

.navbar-link img {
    width: 40px;
    margin-right: 50px;

}

#navbar p {
    color: #848485;
    padding-top: 1px;
    text-align: center;
}

#navbar:hover {
    width: 400px;
}

.hamburder-menu {
    display: none;
}


@media screen and (max-width: 768px),
(max-height: 768px) {
    #navbar {
        position: relative;
        height: 45px;
        width: 100%;
        background: rgb(255, 244, 174);
        background: linear-gradient(180deg, rgba(255, 244, 174, 1) 0%, rgba(216, 190, 237, 1) 55%, rgba(255, 139, 236, 1) 100%);
        color: #fff;
        border-radius: 0% 0% 0% 0%;
        transition: width 0s;
        padding-top: 0;


        &.open {
            height: auto;
            transition: height 0.5s ease;

            .navbar-link {
                display: flex;
                align-items: center;
                padding: 10px 20px;
            }

            .navbar-item {
                opacity: 1;
                transition: opacity 0.3s ease-in-out;
            }

            .name {
                display: block;
            }
        }
    }

    #navbar:hover {
        width: 100%;
    }

    .navbar-logo img {
        width: 20%;
        display: block;
        margin: 0 auto;
        display: none;
    }

    .navbar-link {
        display: none;
    }

    .navbar-link-show {
        display: block;
    }

    hr {
        display: none;
    }

    #navbar p {
        display: none;
    }

    .hamburder-menu {
        display: flex;
        justify-content: flex-end;
    }

    .hamburder-menu svg {
        padding: 10px;
        margin-right: 10px;
    }
}